html {
	max-height: 100%;
	position: fixed;
	width: 100%;
}

body {
	background: black;
	margin: 0;
}

canvas {
	position: fixed;
}

#top {
	-webkit-transform: rotate(180deg) scaleY(-1);
	transform: rotate(180deg) scaleY(-1);
}

#right {
	-webkit-transform: rotate(270deg) scaleY(-1);
	transform: rotate(270deg) scaleY(-1);
}

#bottom {
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
}

#left {
	-webkit-transform: rotate(90deg) scaleY(-1);
	transform: rotate(90deg) scaleY(-1);
}